<!-- Contact US -->
<section id="contact" class="contact">
    <div class="container">
        {{> sub/sectionHeader title='CONTACT' 
        description='Whether you are interested in working with us or for us, we are always happy to hear what 
you have to say.'}}
        <div class="row">
            <div class="col-md-6 col-sm-12 mb-xs-5">
                <form class="getin_form" onsubmit="return false;">
                    <div class="row">

                        <div class="col-sm-12" id="result"></div>

                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="First Name : " required id="first_name" name="first_name">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Last Name : " required id="last_name" name="last_name">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <input class="form-control" type="email" placeholder="Email : " required id="email" name="email">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <input class="form-control" type="tel" placeholder="Phone : " id="phone" name="phone">
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group mb-4">
                                <textarea class="form-control" placeholder="Message" id="message" name="message"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-large btn-pink w-100" id="submit_btn">submit request</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6 col-sm-12 pl-4">
                <p class="mb-lg-5 mb-4 mt-2">Adrian Space is not just about Interior D&amp;B; it's more than that. We offer integral communication services, and we're responsible for our process and results. We thank each client and their projects.</p>
                <div class="row">
                    <div class="col-md-6 col-sm-6 our-address mb-4">
                        <h6 class="mb-3 font-weight-600">Our Address</h6>
                        <p class="mb-2">Level 9, Bldg 1, Tianhui Plaza, Shanghai, China. </p>
                        <a class="pickus" href="#." data-text="Get Directions">Get Directions</a>
                    </div>
                    <div class="col-md-6 col-sm-6 our-address mb-4">
                        <h6 class="mb-3 font-weight-600">Our Phone</h6>
                        <p class="mb-2">Phone No. +86.021.3367.4577‬ <br>Mobile No. +86.150.0219.0005</p>
                        <a class="pickus" href="#." data-text="Call Us">Call Us</a>
                    </div>
                    <div class="col-md-6 col-sm-6 our-address mb-4">
                        <h6 class="mb-3 font-weight-600">Our Email</h6>
                        <p class="mb-2">marketing@adrian.space <span class="block">inquiry@adrian.space</span> </p>
                        <a class="pickus" href="#." data-text="Send a Message">Send a Message</a>
                    </div>
                    <div class="col-md-6 col-sm-6 our-address">
                        <h6 class="mb-3 font-weight-600">Maintenance Service</h6>
                        <p class="mb-2">+86.150.0219.0005 <span>maintenance@adrian.space</span> </p>
                        <a class="pickus" href="#." data-text="Open a Ticket">Open a Ticket</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Contact US Ends-->