<!--parallax start-->
<section class="parallax bg-2 text-center text-center text-white">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 pt-4 pb-4">
                <p class="mb-3">12 years designing &amp; building interiors to help business flourish</p>
                <h2 class="parallax-text text-capitalize mb-4 font-weight-light">Looking For Interior Design &amp; Build Services?</h2>
                <a href="javascript:void(0)" class="btn btn-large btn-pink">Contact Us</a>
            </div>
        </div>
    </div>
</section>
<!--parallax end-->
