<!--feature start-->
<section class="feature" id="services">
    <div class="container">
        {{> sub/sectionHeader title='OUR SERVICES' 
        description='Full spectrum of Design & Build services'}}
        <div class="row">
            {{> sub/service 
            icon = "ti-star"
            title = "Feasibility" 
            description = "Making sense of your company's future direction and growth opportunities" 
            }}
         
            {{> sub/service 
            icon = "ti-star"
            title = "Activity Based Workplace" 
            description = "Innovative collaborative and dynamic environment for tomorrow's business" 
            }}

            {{> sub/service 
            icon = "ti-star"
            title = "Corporate & Branded Environments" 
            description = "Activating the most recognised companies and leading brands in the world" 
            }}

            {{> sub/service 
            icon = "ti-star"
            title = "Concept & Visualization" 
            description = "Brining plans and ideas to reality with state of the art computer generation" 
            }}

            {{> sub/service 
            icon = "ti-star"
            title = "Project Realisation" 
            description = "Expertise in project delivery from initial idea to final execution & project management" 
            }}

            {{> sub/service 
            icon = "ti-star"
            title = "Construction Management" 
            description = "Making a dream a reality in a sustainable and quality controlled environment" 
            }}
        </div>
    </div>
</section>
<!--feature end-->