<!--testimonial start-->
<section class="testimonial-white bg-l bg-light">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title text-center">
                    <h2 class="font-weight-600 m-0">Testimonials</h2>
                    <span class="hr-line mt-4 mb-4"></span>
                    <p>Frameworks to provide a robust synopsis.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="owl-testimonial owl-carousel owl-theme">
                    <div class="testimonial-item item text-center">
                        <span class="testimonial-quote"><i class="ti ti-quote-right" aria-hidden="true"></i></span>
                        <div class="testimonial-text mb-3"><p>Donec semper euismod nisi quis feugiat. Nullam finibus metus eget orci volutpat porta. Morbi quis arcu vulputate, dignissim mi ac, varius magna.</p></div>
                        <div class="testimonial-photo"><img alt="" src="images/testimonial-1.jpg"></div>
                        <h5 class="text-capitalize mt-3 mb-0">Jhony Deev</h5>
                        <p class="text-small mb-0">Executive Manager</p>
                    </div>
                    <div class="testimonial-item item text-center">
                        <span class="testimonial-quote"><i class="ti ti-quote-right" aria-hidden="true"></i></span>
                        <div class="testimonial-text mb-3"><p>Donec semper euismod nisi quis feugiat. Nullam finibus metus eget orci volutpat porta. Morbi quis arcu vulputate, dignissim mi ac, varius magna.</p></div>
                        <div class="testimonial-photo"><img alt="" src="images/testimonial-2.jpg"></div>
                        <h5 class="text-capitalize mt-3 mb-0">Teena Walkin</h5>
                        <p class="text-small mb-0">Executive Manager</p>
                    </div>
                    <div class="testimonial-item item text-center">
                        <span class="testimonial-quote"><i class="ti ti-quote-right" aria-hidden="true"></i></span>
                        <div class="testimonial-text mb-3"><p>Donec semper euismod nisi quis feugiat. Nullam finibus metus eget orci volutpat porta. Morbi quis arcu vulputate, dignissim mi ac, varius magna.</p></div>
                        <div class="testimonial-photo"><img alt="" src="images/testimonial-3.jpg"></div>
                        <h5 class="text-capitalize mt-3 mb-0">Teena Walkin</h5>
                        <p class="text-small mb-0">Executive Manager</p>
                    </div>
                    <div class="testimonial-item item text-center">
                        <span class="testimonial-quote"><i class="ti ti-quote-right" aria-hidden="true"></i></span>
                        <div class="testimonial-text mb-3"><p>Donec semper euismod nisi quis feugiat. Nullam finibus metus eget orci volutpat porta. Morbi quis arcu vulputate, dignissim mi ac, varius magna.</p></div>
                        <div class="testimonial-photo"><img alt="" src="images/testimonial-3.jpg"></div>
                        <h5 class="text-capitalize mt-3 mb-0">Teena Walkin</h5>
                        <p class="text-small mb-0">Executive Manager</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--testimonial end-->