<!-- our story -->
<section id="what-we-do" class="our-story circle-top pb-0">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-6">
                <div class="title pb-5">
                    <h2 class="font-weight-600 m-0" style="color: #ff6666;">WHAT WE DO</h2>
                    <span class="hr-line mt-4 mb-4 ml-lg-0"></span>
                    <p class="mb-3 mb-lg-0">
                        We listen to our clients needs and desires, help them realise their endeavors and vision
                        through our proven methodology, breadth of experience managed by a hand selected team of
                        experts with diverse skill sets.
                    </p>
                    <p class="mb-3 mb-lg-0">
                        <br />
                        We manage, excite and steer them through the complexities to ensure that a quality, well
                        considered environment is delivered, on time, on budget to our clients satisfaction.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="story-image">
                    <img src="images/whatwedo.jpg" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- our story end-->