<!-- our story -->
<section id="feature" class="our-story circle-top pb-0 bg-light">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-6">
                <div class="title pb-5">
                    <h2 class="font-weight-600 m-0">SERVICES</h2>
                    <span class="hr-line mt-4 mb-4 ml-lg-0"></span>
                    <p class="mb-3 mb-lg-0"></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- our story end-->