<div class="row">
    <div class="col-sm-12">
        <div class="title text-center pb-5">
            <h2 class="font-weight-600 m-0">{{title}}</h2>
            <span class="hr-line mt-4 mb-4"></span>
            {{#each content}}
            <p class="mb-4">{{this}}</p>
            {{/each}}
            {{content}}
        </div>
    </div>
</div>