<div class="row">
    <div class="col-sm-12">
        <div class="title text-center pb-5">
            <h2 class="font-weight-600 m-0" style="color: #ff6666;">{{title}}</h2>
            <span class="hr-line mt-4 mb-4"></span>
            <p class="mb-4">{{description}}</p>
        </div>
    </div>
</div>

 {{!-- <div class="row">
            <div class="col-sm-12">
                <div class="title text-center">
                    <h2 class="font-weight-600 m-0">CONTACT</h2>
                    <span class="hr-line mt-4 mb-4"></span>
                    <p></p>
                </div>
            </div>
        </div> --}}