<div class="col-md-4 mb-xs-5">
    <div class="feature-box text-center">
        {{!-- <i class="ti {{icon}} feature-icon" aria-hidden="true"></i> --}}
        <p class="mt-3 mb-3" style="color: #ff6666;">{{title}}</p>
        <h4 class="text-capitalize">{{description}}</h4>
        <span class="hr-line mt-4 mb-4"></span>
        <a href="#." class="mb-3 mb-lg-0">Read More</a>
    </div>
</div>